fastapi
uvicorn
jinja2
python-dotenv
pydantic
langchain-core
langchain-ollama
starlette
python-multipart
langchain
earthengine-api
geopy
google-auth
itsdangerous
requests
typing-extensions
pymongo
motor
beanie
fastapi-users[mongodb]

google-cloud-firestore>=2.16.0
